<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @to_do_item.project %>
</p>

<p>
  <strong>Description:</strong>
  <%= @to_do_item.description %>
</p>

<p>
  <strong>Done:</strong>
  <%= @to_do_item.done %>
</p>

<%= link_to 'Edit', edit_to_do_item_path(@to_do_item) %> |
<%= link_to 'Back', to_do_items_path %>
