<%- model_class = Project -%>
<div class="page-header">
  <h1><%= @project.name %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
</div>
<h2>Tasks</h2>
<div id="to_do_items">

<table class="table" id="task-table">
  <%= render(@project.to_do_items) %>
</table>

<%= button_to 'New Task', new_to_do_item_path(project: @project), method: :get, remote: true, class: 'btn btn-primary' %>
</div>
